<ion-header>

  <ion-navbar color="primary">
    <ion-title>About Dairy Logr</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>Designed for Kirimiri Dairy Self Help Group by Creative Atelier</p>
  <p>Version 3.0.4</p>
  <br>
  <p>Signed in as <b>{{email}}</b></p>
</ion-content>
