    <ion-header>
      <ion-navbar color="primary">
        <ion-title>Dairy Logr - Login</ion-title>
      </ion-navbar>
    </ion-header>
    
    
    <ion-content padding>
        <ion-list no-lines>
            <form [formGroup]="loginForm">
              <ion-item>
                <ion-label stacked>Username</ion-label>
                <ion-input type="email" [(ngModel)]="user.username" formControlName="username"></ion-input>
              </ion-item>
    
              <div *ngIf="!loginForm.controls['username'].valid && (loginForm.controls['username'].touched || loginForm.controls['username'].dirty)">
    
                  <div class="errors" *ngIf="loginForm.controls['username'].errors.email">
                      {{emailErrMsg}}
                  </div>
    
                  <div class="errors" *ngIf="loginForm.controls['username'].errors.required">
                      {{requiredErrMsg}}
                  </div>
    
              </div>
    
              
              
              <ion-item>
                <ion-label stacked>Password</ion-label>
                <ion-input type="password" [(ngModel)]="user.password" formControlName="password"></ion-input>
              </ion-item>
    
              <div *ngIf="!loginForm.controls['password'].valid && (loginForm.controls['password'].touched || loginForm.controls['password'].dirty)">
    
                  <div class="errors" *ngIf="loginForm.controls['password'].errors.required">
                      {{requiredErrMsg}} 
                  </div>
    
                  <div class="errors" *ngIf="loginForm.controls['password'].errors.minlength">
                      {{minErrMsg}} 
                  </div>
    
              </div>
            </form>
            
        </ion-list>
    
        <div>
          <button ion-button block item-left [disabled]="!loginForm.valid" (click)="loginUser(user)">Login &nbsp;<ion-icon name="unlock"></ion-icon></button>
        </div>

        <hr>

        <div style="padding-top:12%;text-align: center;">
                <p>Dairy Logr Version 3.0.4</p>
                <p>All Rights Reserved</p>
        </div>
    
    </ion-content>
    