<ion-header>

  <ion-navbar color="primary">
    <ion-title>Create Account</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list no-lines>
        <form [formGroup]="registerForm">
          <ion-item>
            <ion-label floating>Username</ion-label>
            <ion-input type="text" [(ngModel)]="user.username" formControlName="username"></ion-input>
          </ion-item>

          <div *ngIf="!registerForm.controls['username'].valid && (registerForm.controls['username'].touched || registerForm.controls['username'].dirty)">
              <div class="errors" *ngIf="registerForm.controls['username'].errors.email">
                  {{emailErrMsg}}
              </div>

              <div class="errors" *ngIf="registerForm.controls['username'].errors.required">
                  {{requiredErrMsg}}
              </div>
          </div>

          
          <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password" [(ngModel)]="user.password" formControlName="password"></ion-input>
          </ion-item>

          <div *ngIf="!registerForm.controls['password'].valid && (registerForm.controls['password'].touched || registerForm.controls['password'].dirty)">

              <div class="errors" *ngIf="registerForm.controls['password'].errors.required">
                  {{requiredErrMsg}} 
              </div>

              <div class="errors" *ngIf="registerForm.controls['password'].errors.minlength">
                  {{minErrMsg}} 
              </div>

          </div>
        </form>
        
    </ion-list>

    <div>
      <button ion-button block item-left [disabled]="!registerForm.valid" (click)="registerUser(user)">Register</button>
    </div>

</ion-content>
