<ion-header>

  <ion-navbar color="primary">
    <ion-title>Buy Milk</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="buyMilkForm">
  <ion-list>
    <ion-item>
      <h2># {{no}}</h2>
      <h3>{{ name | uppercase}}</h3>
      <p ion-button clear item-end>{{ station }}</p>
    </ion-item>

    <ion-item>
        <ion-label stacked>Stations</ion-label>
        <ion-select [(ngModel)]="receiveStation" formControlName="receiveStation" required>
          <ion-option *ngFor="let stationz of stations" [value]="stationz">{{stationz.route_name}}</ion-option>
        </ion-select>
    </ion-item>

    
    <ion-item>
      <ion-label stacked>Weight (Kg)</ion-label>
      <ion-input type="number" ([ngModel])="weight" formControlName="weight"></ion-input>
    </ion-item>
    <div *ngIf="!buyMilkForm.controls['weight'].valid && (buyMilkForm.controls['weight'].touched || buyMilkForm.controls['weight'].dirty)">
      
        <div class="errors" *ngIf="buyMilkForm.controls['weight'].errors.required">
            {{requiredErrMsg}} 
        </div>

        <div class="errors" *ngIf="buyMilkForm.controls['weight'].errors.maxlength">
            {{maxErrMsg}} 
        </div>

        <div class="errors" *ngIf="buyMilkForm.controls['weight'].errors.pattern">
            {{volumePatternErrMsg}} 
        </div>
        
  </div>
  <div>
    <button ion-button block item-left [disabled]="!buyMilkForm.valid" (click)="saveEntry()">Save {{ weight }}</button>
  </div>
  </ion-list>
  </form>
</ion-content>
