<ion-header>

  <ion-navbar color="primary">
    <ion-title>Procurement Report</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
      <ion-item>
          <ion-label>Select Date</ion-label>
          <ion-datetime displayFormat="D, MMMM YYYY" [(ngModel)]="date"></ion-datetime>
        </ion-item>
  </ion-list>
  <button ion-button block (click)="getProcurementReport(date)">
    Retrieve
  </button>
  
  </ion-content>
