<ion-header>

  <ion-navbar color="primary">
    <ion-title>Lookup</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <form [formGroup]="lookupForm">

      <ion-item>
        <ion-label stacked>Search</ion-label>
        <ion-input type="tel" [(ngModel)]="member.membershipNo" formControlName="membershipNo"></ion-input>
      </ion-item>

      <div *ngIf="!lookupForm.controls['membershipNo'].valid && (lookupForm.controls['membershipNo'].touched || lookupForm.controls['membershipNo'].dirty)">
        
          <div class="errors" *ngIf="lookupForm.controls['membershipNo'].errors.required">
              {{requiredErrMsg}} 
          </div>
        
          <div class="errors" *ngIf="lookupForm.controls['membershipNo'].errors.minlength">
              {{minErrMsg}} 
          </div>

          <div class="errors" *ngIf="lookupForm.controls['membershipNo'].errors.maxlength">
              {{maxErrMsg}} 
          </div>

          <div class="errors" *ngIf="lookupForm.controls['membershipNo'].errors.pattern">
              {{numberErrMsg}} 
          </div>
        
      </div>
    </form>
  </ion-list>

      <div>
        <button class="light"ion-button block item-left [disabled]="!lookupForm.valid" (click)="lookup(member.membershipNo)">Search &nbsp;<ion-icon name="search"></ion-icon></button>
      </div>
    

    <ion-list>
      <ion-item-sliding class="result" *ngFor="let memba of membaz">
        <ion-item>
          # {{ memba.membershipNo }} 
          <h3>{{ memba.fullNames | uppercase }}</h3>
          <p ion-button clear item-end>{{ memba.route_name }}</p>
        </ion-item>
        
        <ion-item-options side="right">
          <button ion-button color="primary" (click)="buyMilk(memba)">
            <ion-icon name="funnel"></ion-icon>
            Buy Milk
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
</ion-content>
