<ion-header>
  
    <ion-navbar color="primary">
      <ion-title>Spoilt Report</ion-title>
    </ion-navbar>
  
</ion-header>
  
  
  <ion-content padding>
    <ion-list>
    <ion-item-divider>
      <h3 style="color: black;padding-top: 5px;"><b>TOTAL:</b></h3>  <button ion-button clear item-end>{{spoiltSum | number}} Kgs</button>
    </ion-item-divider>
    <ion-item-sliding *ngFor="let data of spoiltReportData">
      <ion-item style="padding: 5px;">
          <h3 style="padding-top: 5px;">{{data.station_name}}</h3>
          <p>{{data.date}}</p>
          <button ion-button clear item-end>{{data.weight}} Kg</button>
        </ion-item>
        
        <ion-item-options side="right">
            <div *ngIf="user_id === 'stephen@conradgray.com' || user_id === 'dianarigu@gmail.com'">
              <button ion-button color="danger" (click)="deleteEntry(data)">
                <ion-icon name="trash"></ion-icon>
                Delete
              </button>
          </div>
        </ion-item-options>
      </ion-item-sliding>
  </ion-list>
  </ion-content>
  