<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dashboard</ion-title>
    <ion-buttons end>
    <button icon-only ion-button (click)="refresher()"><ion-icon name="refresh"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item>
        <ion-avatar item-start>
        <ion-icon name="md-beaker" color="primary" style="padding: 8px;"></ion-icon>
        </ion-avatar>
        <h2>Received Today</h2>
        <p>{{receivedData | number }} Kg</p>
        </ion-item>
    </ion-card>
        
    <ion-card>
        <ion-item>
        <ion-avatar item-start>
        <ion-icon name="md-funnel" color="primary" style="padding: 8px;"></ion-icon>
        </ion-avatar>
        <h2>Recorded Today</h2>
        <p>{{procureData | number }} Kg</p>
        </ion-item>
    </ion-card>
        
    <ion-card>
        <ion-item>
        <ion-avatar item-start>
        <ion-icon name="md-cash" color="royal" style="padding: 8px;"></ion-icon>
        </ion-avatar>
        <h2>Sold Today</h2>
        <p>{{salesData | number }} Kg</p>
        </ion-item>
    </ion-card>
        
        <hr>
     <div *ngIf="user_id === 'stephen@conradgray.com' || user_id === 'admin@kirimiridairy.co.ke' || user_id === 'dianarigu@gmail.com' ">
    <ion-card>
        <ion-item>
        <ion-avatar item-start>
        <ion-icon name="md-funnel" color="primary" style="padding: 8px;"></ion-icon>
        </ion-avatar>
        <h2>Recorded This Month</h2>
        <p>{{procureMonthData | number }} Kg</p>
        </ion-item>
    </ion-card>
        
    <ion-card>
        <ion-item>
        <ion-avatar item-start>
        <ion-icon name="md-beaker" color="secondary" style="padding: 8px;"></ion-icon>
        </ion-avatar>
        <h2>Received This Month</h2>
        <p>{{receivedMonthData | number }} Kg</p>
        </ion-item>
    </ion-card>
        
    <ion-card>
        <ion-item>
        <ion-avatar item-start>
        <ion-icon name="md-cash" style="padding: 8px;"></ion-icon>
        </ion-avatar>
        <h2>Sold This Month</h2>
        <p>{{salesMonthData | number }} Kg</p>
        </ion-item>
    </ion-card>
   </div>
   
   <div *ngIf="user_id !== 'admin@kirimiridairy.co.ke' || user_id !== 'stephen@conradgray.com'">
        <ion-item-group>
                <ion-item-divider color="light">Quick Access</ion-item-divider>
        </ion-item-group>
        <div padding>
                <button ion-button block outline (click)="lookup()">Look Up</button>
                <button ion-button block outline (click)="statement()">Farmer Statement</button>
                <button ion-button block outline (click)="procurementRecords()">Procurement Records</button>
                <button ion-button block outline (click)="priceList()">Price List</button>
        </div>
    </div>
</ion-content>
