<ion-header>
  <ion-navbar color="primary">
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <p>Ensure you have an active internet connection</p>
      <button class="light" outline ion-button block  item-left (click)="pullMembers()">Sync Records &nbsp;<ion-icon name="md-sync"></ion-icon></button>
</ion-content>
