<ion-header>

  <ion-navbar color="primary">
    <ion-title>Make Sale</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <form [formGroup]="saleForm">
          <ion-item>
            <ion-label stacked>Weight</ion-label>
            <ion-input type="tel" [(ngModel)]="saleVolume" formControlName="saleVolume"></ion-input>
          </ion-item>

          <div *ngIf="!saleForm.controls['saleVolume'].valid && (saleForm.controls['saleVolume'].touched || saleForm.controls['saleVolume'].dirty)">
              <div class="errors" *ngIf="saleForm.controls['saleVolume'].errors.pattern">
                  {{volumePatternErrMsg}}
              </div>

              <div class="errors" *ngIf="saleForm.controls['saleVolume'].errors.required">
                  {{requiredErrMsg}}
              </div>
          </div>
        
          <ion-item>
            <ion-label stacked>Price Per Kg</ion-label>
            <ion-input type="number" [(ngModel)]="salePrice" formControlName="salePrice"></ion-input>
          </ion-item>

          <div *ngIf="!saleForm.controls['salePrice'].valid && (saleForm.controls['salePrice'].touched || saleForm.controls['salePrice'].dirty)">
              <div class="errors" *ngIf="saleForm.controls['salePrice'].errors.pattern">
                  {{pricePatternErrMsg}}
              </div>

              <div class="errors" *ngIf="saleForm.controls['salePrice'].errors.required">
                  {{requiredErrMsg}}
              </div>
          </div>
          <ion-item-divider *ngIf="salePrice && saleVolume" color="light">Amount Due: Kes. {{salePrice*saleVolume}}</ion-item-divider>
          <ion-item>
              <ion-label stacked>Customers</ion-label>
              <ion-select [(ngModel)]="saleCustomer" formControlName="saleCustomer">
                <ion-option *ngFor="let customer of customers" [value]="customer">{{customer.customer_name}}</ion-option>
              </ion-select>
              
          </ion-item>

          <div *ngIf="!saleForm.controls['saleCustomer'].valid && (saleForm.controls['saleCustomer'].touched || saleForm.controls['saleCustomer'].dirty)">
              <div class="errors" *ngIf="saleForm.controls['saleCustomer'].errors.required">
                  {{requiredErrMsg}}
              </div>
          </div>

          <ion-item>
              <ion-label stacked>Tx Code</ion-label>
              <ion-input type="text" [(ngModel)]="saleTx" formControlName="saleTx"></ion-input>
          </ion-item>

          <div *ngIf="!saleForm.controls['saleTx'].valid && (saleForm.controls['saleTx'].touched || saleForm.controls['saleTx'].dirty)">
              <div class="errors" *ngIf="saleForm.controls['saleTx'].errors.pattern">
                  {{txPatternErrMsg}}
              </div>

              <div class="errors" *ngIf="saleForm.controls['saleTx'].errors.required">
                  {{requiredErrMsg}}
              </div>
          </div>
          </form>
        </ion-list>
        <button ion-button block [disabled]="!saleForm.valid" (click)="saveSale()">
                Save Transaction &nbsp;<ion-icon name="md-cash"></ion-icon>
        </button>
        
</ion-content>
