page-sale {
    
        p {
            font-size: 0.8em;
            color: #d2d2d2;
        }
    
        .swiper-slide {
            display: block;
        }
    
        ion-label, .select-text {
            margin-left: 10px;
        }
    
        ion-input, ion-select, ion-textarea {
            background-color: #f2f2f2;
            padding: 5px 10px;
        }
    
        .errors{
            margin-left: 5%;
            margin-right: 3%;
            margin-bottom: 1%;
            color: white;
            background-color: red;
            padding: 4px;
            border-radius: 3px;
            font-weight: bold;
        }
    
        ion-list{
            background: transparent!important;
            margin-bottom: 0px;
            padding-bottom: 0px;
        }
    
        ion-item{
            padding-bottom: 20px!important;
            background: transparent!important;
        }
    
        .input-wrapper{
            padding-top: 0!important;
        }
    
        ion-navbar ion-header{
            background: transparent!important;
        }
    
        .list-ios{
           margin: -1px 0 5px!important;
        }
    
    }
    
