<ion-header>

  <ion-navbar color="primary">
    <ion-title>Reports</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <button ion-item (click)="salesReport()">
    Sales Report
    <ion-icon color="secondary" name="md-cash" item-end></ion-icon>
    </button>
    <button ion-item  (click)="receiveReport()">
    Received Report
    <ion-icon name="beaker" item-end></ion-icon>
    </button>
    <button ion-item (click)="procureReport()">
    Procurement Report
    <ion-icon color="warning" name="clipboard" item-end></ion-icon>
    </button>
    <div *ngIf="user_id === 'stephen@conradgray.com' || user_id === 'dianarigu@gmail.com' || user_id === 'admin@kirimiridairy.co.ke'">
    <button ion-item (click)="monthSaleReport()">
    Month's Sales Report
    <ion-icon color="royal" name="cash" item-end></ion-icon>
    </button>
    <button ion-item (click)="monthReceivedReport()">
    Month's Received Report
    <ion-icon color="secondary" name="beaker" item-end></ion-icon>
    </button>
    <button ion-item (click)="spoiltReport()">
      Spoilt Report
      <ion-icon color="danger" name="alert" item-end></ion-icon>
    </button>
  </div>
    <button ion-item (click)="retrieveStatement()">
        Member's Statement
        <ion-icon color="primary" name="clipboard" item-end></ion-icon>
    </button>
    <div *ngIf="user_id === 'stephen@conradgray.com' || user_id === 'admin@kirimiridairy.co.ke'">
        <ion-item-divider>
            <h3 style="color: black;"><b>Officials Only</b></h3>
          </ion-item-divider>
        <button ion-item (click)="clerkStatement()">
            Clerk Entries
            <ion-icon name="clipboard" item-end></ion-icon>
        </button>
        <button ion-item (click)="clerkStatement()">
            Route Statement
            <ion-icon color="royal" name="clipboard" item-end></ion-icon>
        </button>
        <button ion-item (click)="varianceReport()">
            Variance Report
            <ion-icon color="danger" name="clipboard" item-end></ion-icon>
        </button>
    </div>
  </ion-list>
</ion-content>
