<ion-header>

  <ion-navbar color="primary">
    <ion-title>Statement Report</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="statementForm">
        <ion-list>
            <ion-item>
                <ion-label stacked>Member No.</ion-label>
                <ion-input type="number" ([ngModel])="info.memberNo" (ngModelChange)="valueChange($event)" formControlName="memberNo"></ion-input>
              </ion-item>
              <div *ngIf="!statementForm.controls['memberNo'].valid && (statementForm.controls['memberNo'].touched || statementForm.controls['memberNo'].dirty)">
                
                  <div class="errors" *ngIf="statementForm.controls['memberNo'].errors.required">
                      {{requiredErrMsg}} 
                  </div>
            
                  <div class="errors" *ngIf="statementForm.controls['memberNo'].errors.maxlength">
                      {{maxErrMsg}} 
                  </div>
    
                  <div class="errors" *ngIf="statementForm.controls['memberNo'].errors.minlength">
                      {{minErrMsg}} 
                  </div>
            
                  <div class="errors" *ngIf="statementForm.controls['memberNo'].errors.pattern">
                      {{volumePatternErrMsg}} 
                  </div>
                  
            </div>
            <ion-item>
                <ion-label>Select Date</ion-label>
                <ion-datetime displayFormat="MMMM YYYY" [(ngModel)]="info.date" formControlName="date"></ion-datetime>
              </ion-item>
        </ion-list>
        <button type="submit" ion-button block (tap)="getStatement()">
          Retrieve
        </button>
      </form>
      <div *ngIf="statementData">
        <ion-list>
                <ion-item-divider>
                        <h3 style="color: black;"><b>TOTAL:</b></h3>  <button ion-button clear item-end>{{totalSum | number}} Kgs</button>
                </ion-item-divider>
                <ion-item *ngFor="let data of statementData">
                    <p>#{{data.member_no}}</p>
                    <h3>{{data.name}}</h3>
                    <p>{{data.date}}</p>
                    <button ion-button clear item-end>{{data.weight}} Kg</button>
                </ion-item>
            </ion-list>
       </div>
</ion-content>
