<ion-menu id="admin" [content]="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Dairy Logr</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}} <ion-icon class="right" color={{p.color}} name={{p.icon}}></ion-icon>
      </button>
      <button menuClose ion-item (click)="logoutUser()">
        Log Out <ion-icon class="right" color="primary" name="log-out"></ion-icon>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-menu id="notAdmin" [content]="content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Dairy Logr</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
      <ion-list>
        <button menuClose ion-item *ngFor="let p of pagez" (click)="openPage(p)">
          {{p.title}} <ion-icon class="right" color={{p.color}} name={{p.icon}}></ion-icon>
        </button>
        <button menuClose ion-item (click)="logoutUser()">
          Log Out <ion-icon class="right" color="primary" name="log-out"></ion-icon>
        </button>
      </ion-list>
    </ion-content>
  
  </ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>