<!--
  Generated template for the ReceivedResPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Received Report</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
  <ion-item-divider>
    <h3 style="color: black;padding-top: 5px;"><b>TOTAL RECEIVED:</b></h3>  <button ion-button clear item-end>{{receivedSum | number}} Kgs</button>
  </ion-item-divider>
  <ion-item-sliding *ngFor="let data of receivedReportData">
    <ion-item style="padding: 5px;">
        <h3 style="padding-top: 5px;">{{data.station_name}}</h3>
        <p>{{data.weight}} Kg</p>
        <p>{{data.date}}</p>
        <button ion-button clear item-end>Time: {{data.time}}</button>
      </ion-item>
      
      <ion-item-options side="right">
          <div *ngIf="user_id === 'stephen@conradgray.com' || user_id === 'dianarigu@gmail.com'">
            <button ion-button color="danger" (click)="deleteEntry(data)">
              <ion-icon name="trash"></ion-icon>
              Delete
            </button>
        </div>
      </ion-item-options>
    </ion-item-sliding>
</ion-list>
</ion-content>
