<!--
  Generated template for the SpoiltPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Spoilt</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-list>
        <form [formGroup]="spoiltForm"> 
          <ion-item>
            <ion-label stacked>Weight</ion-label>
            <ion-input type="tel" [(ngModel)]="spoiltVolume" formControlName="spoiltVolume"></ion-input>
          </ion-item>

          <div *ngIf="!spoiltForm.controls['spoiltVolume'].valid && (spoiltForm.controls['spoiltVolume'].touched || spoiltForm.controls['spoiltVolume'].dirty)">
              
                <div class="errors" *ngIf="spoiltForm.controls['spoiltVolume'].errors.required">
                    {{requiredErrMsg}} 
                </div>
      
                <div class="errors" *ngIf="spoiltForm.controls['spoiltVolume'].errors.maxlength">
                    {{maxErrMsg}} 
                </div>

                <div class="errors" *ngIf="spoiltForm.controls['spoiltVolume'].errors.pattern">
                    {{volumePatternErrMsg}} 
                </div>
              
          </div>
        

          <ion-item>
              <ion-label stacked>Station</ion-label>
              <ion-select [(ngModel)]="spoiltStation" formControlName="spoiltStation">
                    <ion-option *ngFor="let station of stations" [value]="station">{{station.route_name}}</ion-option>
              </ion-select>
          </ion-item>

          <div *ngIf="!spoiltForm.controls['spoiltStation'].valid && (spoiltForm.controls['spoiltStation'].touched || spoiltForm.controls['spoiltStation'].dirty)">
              
                <div class="errors" *ngIf="spoiltForm.controls['spoiltStation'].errors.required">
                    {{requiredErrMsg}} 
                </div>
              
          </div>

        </form>
        </ion-list>
        <button ion-button block  [disabled]="!spoiltForm.valid" (click)="saveSpoilt()">
            Record Spoilt Milk &nbsp;<ion-icon name="md-funnel"></ion-icon>
        </button>
</ion-content>
