<ion-header>
  <ion-navbar color="primary">
    <ion-title>Farmer Statement</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item-divider>
          <h3 style="color: black;padding-top: 5px;"><b>Total Delivered:</b></h3>  <button ion-button clear item-end><b>{{totalSum | number}} Kgs</b></button>
    </ion-item-divider>
  <ion-item-sliding *ngFor="let data of statementData">
    <ion-item style="padding: 5px;">
        <p style="padding-top: 5px;">#{{data.member_no}}</p>
        <h3>{{data.name | uppercase}}</h3>
        <p>{{data.date}}</p>
        <button ion-button clear item-end>{{data.weight}} Kg</button>
    </ion-item>
    <ion-item-options side="right">
        <button ion-button color="danger" (click)="deleteSpoiltEntry(data)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
</ion-list>
</ion-content>
