<ion-header>
  
    <ion-navbar color="primary">
      <ion-title>Spoilt Report</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label>Select Date</ion-label>
            <ion-datetime displayFormat="MMMM YYYY" [(ngModel)]="date"></ion-datetime>
          </ion-item>
    </ion-list>
    <button ion-button block (click)="getSpoiltReport(date)">
      Retrieve
    </button>
    
    </ion-content>
  