<ion-header>
  <ion-navbar color="primary">
    <ion-title>Pricelist</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        
          <ion-item>
            <ion-label stacked>Search</ion-label>
            <ion-input type="text" [(ngModel)]="productName"></ion-input>
          </ion-item>    
    
        </ion-list>

        <ion-list>
            <ion-item-group>
                <ion-item-divider color="dark">List of Products</ion-item-divider>
            <ion-item *ngFor="let product of lists | filter:productName ">
              <h3>{{product.product_name}}</h3>
              <p>{{product.product_capacity}}</p>
              <button ion-button clear item-end>Kes. {{product.product_price}}</button>
            </ion-item>
            </ion-item-group>
        </ion-list>

</ion-content>
