<ion-header>

  <ion-navbar color="primary">
    <ion-title>Procurement Result</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
      <ion-item-divider>
          <h3 style="color: black;padding-top: 5px;"><b>TOTAL PROCURED:</b></h3>  <button ion-button clear item-end><b>{{procureSum | number}} Kgs </b></button>
      </ion-item-divider>
      
      <ion-item *ngFor="let data of procurementReportData" style="padding: 5px;">
        <h3 style="padding-top: 5px;"><p>#{{data.member_no}}</p></h3>
        <p>{{data.name | uppercase}}</p> 
        <p *ngIf="user_id === 'stephen@conradgray.com' || user_id === 'admin@admin.com'">{{data.user_id}}</p>
        <p *ngIf="user_id === 'stephen@conradgray.com' || user_id === 'admin@admin.com'">{{data.date}}</p>
        <button ion-button clear item-end> {{data.weight}} Kg</button>
      </ion-item>

</ion-list>
</ion-content>
