<!--
  Generated template for the ReceivedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Received</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <form [formGroup]="receiveForm">
          <ion-item>
            <ion-label stacked>Weight</ion-label>
            <ion-input type="tel" [(ngModel)]="receiveVolume" formControlName="receiveVolume"></ion-input>
          </ion-item>

          <div *ngIf="!receiveForm.controls['receiveVolume'].valid && (receiveForm.controls['receiveVolume'].touched || receiveForm.controls['receiveVolume'].dirty)">
              
                <div class="errors" *ngIf="receiveForm.controls['receiveVolume'].errors.required">
                    {{requiredErrMsg}} 
                </div>
      
                <div class="errors" *ngIf="receiveForm.controls['receiveVolume'].errors.maxlength">
                    {{maxErrMsg}} 
                </div>

                <div class="errors" *ngIf="receiveForm.controls['receiveVolume'].errors.pattern">
                    {{volumePatternErrMsg}} 
                </div>
              
          </div>
        
          <ion-item>
              <ion-label stacked>Stations</ion-label>
              <ion-select [(ngModel)]="receiveStation" formControlName="receiveStation">
                <ion-option *ngFor="let station of stations" [value]="station">{{station.route_name}}</ion-option>
              </ion-select>
          </ion-item>

          <div *ngIf="!receiveForm.controls['receiveStation'].valid && (receiveForm.controls['receiveStation'].touched || receiveForm.controls['receiveStation'].dirty)">
              
                <div class="errors" *ngIf="receiveForm.controls['receiveStation'].errors.required">
                    {{requiredErrMsg}} 
                </div>
              
          </div>

          <ion-item>
              <ion-label stacked>Time</ion-label>
              <ion-select [(ngModel)]="receiveTime" formControlName="receiveTime">
                <ion-option value="Morning">Morning</ion-option>
                <ion-option value="Afternoon">Afternoon</ion-option>
                <ion-option value="Evening">Evening</ion-option>
              </ion-select>
          </ion-item>

          <div *ngIf="!receiveForm.controls['receiveTime'].valid && (receiveForm.controls['receiveTime'].touched || receiveForm.controls['receiveTime'].dirty)">
              
                <div class="errors" *ngIf="receiveForm.controls['receiveTime'].errors.required">
                    {{requiredErrMsg}} 
                </div>
              
          </div>
          </form>
        </ion-list>
        <button ion-button block [disabled]="!receiveForm.valid" (click)="saveReceived()">
        Receive Milk &nbsp;<ion-icon name="funnel"></ion-icon>
        </button>
        
</ion-content>
