<ion-header>

  <ion-navbar color="primary">
    <ion-title>Month Sales Result</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
      <ion-item-divider>
          <h3 style="color: black;padding-top: 5px;"><b>TOTAL SOLD:</b></h3>  <button ion-button clear item-end>{{monthSaleSum | number}} Kgs</button>
        </ion-item-divider>
      <ion-item-sliding  *ngFor="let data of salesMonthReportData">
      <ion-item style="padding: 5px;" (click)="showInfo(data)">
        <h3 style="padding-top: 5px;"><p>{{data.customer_name}}</p></h3>
        <p>{{data.date}} </p>
        <button ion-button clear item-end>{{data.weight}} Kg </button>
      </ion-item>

        <ion-item-options side="right">
          <button ion-button color="danger" (click)="deleteEntry(data)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      
      
      </ion-item-sliding>
</ion-list>
</ion-content>
